<script type="text/javascript">
  $(function(){
    $('.navbar').removeClass("navbar-devise");
  })
</script>

<%= render 'partial/navbar' %>

<font  size="15">
<p align="center">Example</p>
</font>
</div>
